


 .container  a img {
    width: 250px;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center center;
}
img {
    border-style: none;
}

.container{
    width: 600px;
    min-height: fit-content;
}


 
a .text{
    flex: 0.5;
    background-color: rgb(15, 15, 44);
    color: white;
    padding: 5px 39px;
    border-radius: 5px;
    
}
 a{
     display: inline-block;
    
 }
a, .text{
    text-decoration: none;
    text-align: center;
}