.onas {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.2)), url("https://osten-co.uz/images/index/about.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    height: 60vh;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    position: relative;
    min-height: 500px;
}

.onas h1{
    font-size: 60px;
    font-weight: bold;
    text-shadow: 3px 3px black;
}

.onas p{
    font-size: 30px;
    font-weight: bold;
}

.new{
    font-size: 23px;
}

.section-padding-only-top {
    padding-top: 100px;
    padding-bottom: 0px;
}
.eTcwAR {
    display: flex;
    -moz-box-align: center;
    align-items: center;
}

.chizq{
    text-align: center;
}
.h1 {
    font-size: 2.5rem;
   
}

.container {
    max-width: 1140px;
}
.jLYewO {
    text-align: center;
}
.eTcwAR .container .content {
    column-count: 2;
}
.mt-5, .my-5 {
    margin-top: 3rem !important;
}

.eTcwAR .container .content img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
img {
    vertical-align: middle;
    border-style: none;
}

.eTcwAR .container .content p {
    margin: 0px 0px 20px;
}

p {
    font-size: 18px;
}

.qaln{
    font-size: 24px;
    font-weight: bold;
}

 ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

@media screen and (max-width: 992px) {
    .eTcwAR .container .content {
        column-count: 1;
    } 

    .onas h1{
        font-size: 35px;
        
    }

    .onas p{
        font-size: 20px;
    }
}